pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "FetchAllTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * \nFROM Medialliandbt.information_schema.tables\nwhere TABLE_SCHEMA='SalesLT' and TABLE_TYPE='BASE TABLE';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTable",
						"type": "DatasetReference",
						"parameters": {
							"TABLE_SCHEMA": {
								"value": "items().TABLE_SCHEMA",
								"type": "Expression"
							},
							"TABLE_NAME": {
								"value": "items().TABLE_NAME",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FetchAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FetchAllTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlTable",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_SCHEMA": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@formatDateTime(utcNow(),'YYYY-MM-DD')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().TABLE_SCHEMA,'.',item().TABLE_NAME, '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"baseParameters": {
									"FileName": {
										"value": "@formatDateTime(utcNow(), 'YYYY-MM-DD')",
										"type": "Expression"
									},
									"TABLE_SCHEMA": {
										"value": "@item().TABLE_SCHEMA",
										"type": "Expression"
									},
									"TABLE_NAME": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}